{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Smart House - 4*7 {% endblock %}</h1>
{% endblock %}

{% block content %}
        <strong>Temperature:</strong> {{ temp }}<br>
        <strong>Test:</strong> <span id="test">{{ testVar }}</span><br>

        <h2>Preparation for inputs</h2>
        <label class="switch">Svetlo
          <input type="checkbox">
        </label>

    <form role="form" method="post" action="/" >
  	<p>
	<button type="submit" name="turnon" class="btn btn-default">Turn On</button>
	<button type="submit" name="turnoff" class="btn btn-default">Turn Off</button>
	</p>    
    </form>

      <form role="form" method="post" action="/">
        <div class="form-group">
          <input type="text" name="temperature_val" class="form-control" id="url-box" placeholder="Enter temperature..." style="max-width: 300px; display: inline" required>
        </div>
        <button type="submit" name="setTemp" value="temp" class="btn btn-default">Submit</button>
      </form>


{% endblock %}





       
