{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Smart House - 4*7 {% endblock %}</h1>
{% endblock %}

{% block content %}
        <strong>Temperature:</strong> {{ temp }}<br>
        <strong>Test:</strong> <span id="test">{{ testVar }}</span><br>

        <h2>Preparation for inputs</h2>
        <label class="switch">Svetlo
          <input type="checkbox">
        </label>

    <form  action="/" method="post">
  	<p><input type="submit" name="submit" value="Turn On"> </p>
  	<p><input type="submit" name="submit" value="Turn Off"> </p>
    </form>


{% endblock %}





       
